<%- include("partials/header"); -%> 
    <body>
        <h1>Home</h1>
        <p><%= homeContent %></p>

        <% postingContent.forEach((post) => { %>
            <h1> <%= post.title; %> </h1>
            <p> <%= post.content; %> </p>
        <% }); %>

    </body>
<%- include("partials/footer"); -%> 
