<%- include("partials/header"); -%> 
    <body>
        <h1>Home</h1>
        <p><%= homeContent %></p>

        <% postingContent.forEach((post) => { %>
            <h1> <%= post.title; %> </h1>
            <p> <%= post.content.substring(0, 100) + " ..."; %><a href="/posts/<%= post._id %>"> Read More</a></p>
            
        <% }); %>

    </body>
<%- include("partials/footer"); -%> 
